@using RentalTrackers.Models
@model IEnumerable<RentalTrackers.Models.Manga>
@{
	ViewBag.Title = "Manga";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mangas</h2>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Manga</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var manga in Model)
		{
			<tr>
				<td>@manga.Name</td>
			</tr>
			}
	</tbody>
</table>
